{% extends 'base.html' %}
{% load static %}
{%block content%}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/SGOEX6DAKVA7FHZEX5HFHW6BBA.png.jpeg' %} )">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Our Mission</h1>
                            <span class="subheading">Our mission is to educate the BYU community and others to engage them in combating human trafficking.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Every year, millions of men, women, and children are trafficked in countries around the world, including the United States. It is estimated that human trafficking is a $32 billion per year industry with $9.5 billion of that in the United States, second only to drug trafficking as the most profitable form of transnational crime. </p>
                        <p>By knowing what human trafficking is you can play an important role in identifying and supporting victims in Utah.</p>
                       
                    </div>
                </div>
            </div>
        </main>

{%endblock%}