{% extends 'base.html' %}
{% load static %}
{%block content%}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/money.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Human trafficking in Utah: What does it look like?</h1>
                            <h2 class="subheading">Here are some idicators of suspect trafficking..</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">Danielle MacKimm</a>
                                on April 7, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p> Human trafficking is an issue that affects individuals across the globe, including Utahns. The criminal practice involves the exploitation of individuals for profit through force, fraud, and persuasion.</p>
                        <p>Human trafficking is present in a variety of forms, including trafficking for forceful labor, trafficking for forced criminal activities, and trafficking for sexual exploitation.</p>
                        <p>According to the Utah Women & Leadership Project (UWLP), research suggests that there were over 40 million victims of human trafficking in 2016 alone. Similarly, numerous countries reported a spike in human trafficking amid the COVID-19 pandemic.</p>
                        <p>In 2020 the National Human Trafficking Hotline received 182 calls regarding 64 reported human trafficking cases in Utah. In 2021, the UWLP reports that six people were arrested for human trafficking and prostitution in massage parlors in Utah County.</p>
                        <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>
                        <h2 class="section-heading">How Can We Stop This?</h2>
                        <p>Human trafficking in Utah has proven to be on the rise. The Asian Association of Utah (AAU) reported a 39% increase in clients enrolled in their Trafficking in Persons Program between 2018 and 2020. The program tended to 251 human trafficking victims in 2019 and 2020 combined. Similarly, the UWLP disclosed that the AAU notes Utah’s top sex trafficking settings as hotels, public streets, and massage parlors, while the most popular labor trafficking settings in Utah are hotels, restaurants, and venues that practice animal husbandry..</p>
                        <p>Human trafficking is thought to be gaining ground throughout America due to its money-making factor. Forced labor, including sex trafficking, is estimated to produce over $150 billion a year, making it the second most profitable crime in the world following drug trafficking.</p>
                        <p>So, the question lingers: what can we as Utahns do to take action against human trafficking? According to the UWLP, prevention, identification, and intervention are crucial steps in diminishing the acceleration of human trafficking in our state.</p>
                       
                        <p>
                            Placeholder text by
                            <a href="https://www.abc4.com/news/human-trafficking-in-utah-what-does-it-look-like/">abc 4</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">abc 4</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>

{%endblock%}